*{
    margin: 0;
    border: 1px solid black;
}
:root{
    --booleando-header:#ff6900;
    --booleando-footer:#1a1a1a;
}

.width{
    width: 1000px;
    margin: auto;
}

header{
    background-color: var(--booleando-header);
}
ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
main{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* #region header*/
.container_header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.img-logo{
    height: 25px;
}
/* #endregion */

/* #region main*/
.container_main{
    position: absolute;
}
.garment{
    position: relative;
    width: 100px;
    height: 100px;
}
/* #endregion */

/* #region footer */
/* #endregion */